exclude: (\.git/|\.tox/|\.venv/|le_utils\.egg-info)
repos:
-   repo: local
    hooks:
    -   id: rebuild
        name: Regenerate files
        description: Regenerates files when specs or version has changed
        entry: make build
        language: system
        files: (spec/.*\.json|setup\.py)$
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: flake8
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: debug-statements
    -   id: end-of-file-fixer
        exclude: '^.+?(\.json|\.po)$'
-   repo: https://github.com/asottile/reorder_python_imports
    rev: v1.3.3
    hooks:
    -   id: reorder-python-imports
-   repo: https://github.com/python/black
    rev: 22.3.0
    hooks:
    - id: black
