name: Publish npmjs Package

on:
  release:
    types: [published]

jobs:
  publish-npm:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 14
          registry-url: https://registry.npmjs.org/
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 2.7
      - run: make release-npm
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_API_TOKEN}}
