name: Python tests

on:
  push:
    branches:
    - main
  pull_request:

jobs:
  pre_job:
    name: Path match check
    runs-on: ubuntu-latest
    # Map a step output to a job output
    outputs:
      should_skip: ${{ steps.skip_check.outputs.should_skip }}
    steps:
      - id: skip_check
        uses: fkirc/skip-duplicate-actions@master
        with:
          github_token: ${{ github.token }}
          paths: '["**.py", ".github/workflows/pythontest.yml", "requirements-test.txt", "tox.ini"]'
  unit_test:
    name: Python unit tests
    needs: pre_job
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 5
      matrix:
        python-version: [3.9, '3.10', '3.11', '3.12', '3.13']
    steps:
    - uses: actions/checkout@v6
      if: ${{ needs.pre_job.outputs.should_skip != 'true' }}
    - name: Set up Python ${{ matrix.python-version }}
      if: ${{ needs.pre_job.outputs.should_skip != 'true' }}
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}
    - name: Cache pip
      if: ${{ needs.pre_job.outputs.should_skip != 'true' }}
      uses: actions/cache@v4
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-py${{ matrix.python-version }}-${{ hashFiles('setup.py') }}
    - name: Install tox
      if: ${{ needs.pre_job.outputs.should_skip != 'true' }}
      run: |
        python -m pip install --upgrade pip
        pip install tox
    - name: tox env cache
      if: ${{ needs.pre_job.outputs.should_skip != 'true' && !startsWith(runner.os, 'windows') }}
      uses: actions/cache@v4
      with:
        path: ${{ github.workspace }}/.tox/py${{ matrix.python-version }}
        key: ${{ runner.os }}-tox-py${{ matrix.python-version }}-${{ hashFiles('setup.py') }}
    - name: Test with tox
      if: ${{ needs.pre_job.outputs.should_skip != 'true' }}
      run: tox -e py${{ matrix.python-version }}

  unit_test_eol_python:
    name: Python unit tests for EOL Python versions
    needs: pre_job
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 5
      matrix:
        python-version: [3.6, 3.7, 3.8]
    container:
      image: python:${{ matrix.python-version }}-buster
    steps:
    - uses: actions/checkout@v6
      if: ${{ needs.pre_job.outputs.should_skip != 'true' }}
    - name: Cache pip
      if: ${{ needs.pre_job.outputs.should_skip != 'true' }}
      uses: actions/cache@v4
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-py${{ matrix.python-version }}-${{ hashFiles('setup.py') }}
    - name: Install tox
      if: ${{ needs.pre_job.outputs.should_skip != 'true' }}
      run: |
        python -m pip install --upgrade pip
        pip install tox
    - name: tox env cache
      if: ${{ needs.pre_job.outputs.should_skip != 'true' && !startsWith(runner.os, 'windows') }}
      uses: actions/cache@v4
      with:
        path: ${{ github.workspace }}/.tox/py${{ matrix.python-version }}
        key: ${{ runner.os }}-tox-py${{ matrix.python-version }}-${{ hashFiles('setup.py') }}
    - name: Test with tox
      if: ${{ needs.pre_job.outputs.should_skip != 'true' }}
      run: tox -e py${{ matrix.python-version }}
